<%= form_with(model: @jobs_candidate, url: @jobs_candidate.new_record? ? admin_jobs_candidates_path : admin_jobs_candidate_path(@jobs_candidate)) do |form| %>
  <% if @jobs_candidate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@jobs_candidate.errors.count, "error") %> prohibited this jobs_candidate from being saved:</h2>

      <ul>
        <% @jobs_candidate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :job_id, style: "display: block" %>
    <%= form.text_field :job_id %>
  </div>

  <div>
    <%= form.label :candidate_id, style: "display: block" %>
    <%= form.text_field :candidate_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :notifications, style: "display: block" %>
    <%= form.check_box :notifications %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
