<div id="<%= dom_id jobs_candidate %>">
  <p>
    <strong>Job:</strong>
    <%= jobs_candidate.job_id %>
  </p>

  <p>
    <strong>Candidate:</strong>
    <%= jobs_candidate.candidate_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= jobs_candidate.status %>
  </p>

  <p>
    <strong>Notifications:</strong>
    <%= jobs_candidate.notifications %>
  </p>

</div>
