<div id="<%= dom_id pipeline_step %>">
  <p>
    <strong>Name:</strong>
    <%= pipeline_step.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pipeline_step.description %>
  </p>

  <p>
    <strong>Teaser:</strong>
    <%= pipeline_step.teaser %>
  </p>

  <p>
    <strong>Action button label:</strong>
    <%= pipeline_step.action_button_label %>
  </p>

  <p>
    <strong>Action button url:</strong>
    <%= pipeline_step.action_button_url %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= pipeline_step.order %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= pipeline_step.job_id %>
  </p>

</div>
