<p style="color: green"><%= notice %></p>

<%= render @pipeline_step %>

<div>
  <%= link_to "Edit this pipeline step", edit_admin_pipeline_step_path(@pipeline_step) %> |
  <%= link_to "Back to pipeline steps", admin_pipeline_steps_path %>

  <%= button_to "Destroy this pipeline step", admin_pipeline_step_path(@pipeline_step), method: :delete %>
</div>
