<div id="<%= dom_id candidate %>">
  <p>
    <strong>First name:</strong>
    <%= candidate.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= candidate.last_name %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= candidate.contact_email %>
  </p>

  <p>
    <strong>Contact linked in:</strong>
    <%= candidate.contact_linked_in %>
  </p>

</div>
