<div id="<%= dom_id recruiter %>">
  <p>
    <strong>First name:</strong>
    <%= recruiter.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= recruiter.last_name %>
  </p>

  <p>
    <strong>Profile picture url:</strong>
    <%= recruiter.profile_picture_url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= recruiter.status %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= recruiter.role %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= recruiter.company_name %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= recruiter.contact_email %>
  </p>

  <p>
    <strong>Contact whatsapp:</strong>
    <%= recruiter.contact_whatsapp %>
  </p>

  <p>
    <strong>Contact linked in:</strong>
    <%= recruiter.contact_linked_in %>
  </p>

</div>
