<%= form_with(model: @job, url: @job.new_record? ? admin_jobs_path : admin_job_path(@job)) do |form| %>
  <% if @job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this @job from being saved:</h2>

      <ul>
        <% @job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :ats_link, style: "display: block" %>
    <%= form.text_field :ats_link %>
  </div>

  <div>
    <%= form.label :point_of_contact_id, style: "display: block" %>
    <%= form.text_field :point_of_contact_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
