<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

  <p>
    <strong>Ats link:</strong>
    <%= job.ats_link %>
  </p>

  <p>
    <strong>Recruiter:</strong>
    <%= job.recruiter_id %>
  </p>

</div>
