<p style="color: green"><%= notice %></p>

<%= render @job %>

<div>
  <%= link_to "Edit this job", edit_admin_job_path(@job) %> |
  <%= link_to "Back to jobs", admin_jobs_path %>

  <%= button_to "Destroy this job", admin_job_path(@job), method: :delete %>
</div>
