<div id="<%= dom_id point_of_contact %>">
  <p>
    <strong>First name:</strong>
    <%= point_of_contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= point_of_contact.last_name %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= point_of_contact.contact_email %>
  </p>

  <p>
    <strong>Profile picture url:</strong>
    <%= point_of_contact.profile_picture_url %>
  </p>


  <p>
    <strong>Role:</strong>
    <%= point_of_contact.role %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= point_of_contact.company_name %>
  </p>

  <p>
    <strong>Contact whatsapp:</strong>
    <%= point_of_contact.contact_whatsapp %>
  </p>

  <p>
    <strong>Contact linked in:</strong>
    <%= point_of_contact.contact_linked_in %>
  </p>

</div>
